<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue: app-9</title>
</head>

<body>

    <div id="app-9">
        <h1>ToDo List App</h1>
        <input v-model="newItem" @keyup.enter="saveItem">
        <button @click="saveItem">Save item</button>
        <ul>
            <li v-for="todo in todos">{{ todo }}</li>
        </ul>
        <p v-if="todos.length === 0">Nice job! You've compeleted all your tasks.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app9 = new Vue({
            el: '#app-9',
            data: {
                newItem: '',
                todos: [
                    'Learn JavaScript',
                    'Learn Vue',
                    'Build something awesome'
                ]
            },
            methods: {
                saveItem: function () {
                    this.todos.push(this.newItem);
                    this.newItem = '';
                }
            }
        })
    </script>

</body>

</html>